html
	head
		title Deploy Request
	body
		form(action="/hubot/requestdeploy", method="post")
			input(type="text", name="snappier", placeholder="snappier branch")
		button(type="submit", value="submit") Request!
